@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        * {
            margin: 0%;
            padding: 0%;
        }

        html {
            scroll-behavior: smooth;
        }

        .background {
            background: rgba(0, 0, 0, 0.7) url('gym4.jpg');
            background-size: cover;
            background-blend-mode: darken;
        }

        .logo {
            width: 115px;
            text-align: center;
            color: white;
        }

        .Divinenav:hover {
            color: violet;
            cursor: context-menu;
            text-decoration: underline;

        }

        .logo img {
            width: 47px;
            border: 2px solid grey;
            border-radius: 50%;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 0px;
        }

        .navlist {
            display: flex;
            align-items: center;
            width: 50%;
        }

        .navlist li {
            list-style: none;
            padding: 25px 40px;
        }

        .navlist li a {
            text-decoration: none;
            color: white;
        }

        .navlist li a:hover {
            text-decoration: overline;
            color: rgb(155, 149, 149);
        }

        .rightnav {
            width: 50%;
            text-align: right;
        }

        #Search {
            padding: 4px;
            font-size: 17px;
            background: none;
            border: 1px solid rgb(96, 94, 94);
            border-radius: 12px;
            color: white;
        }

        .btn {
            padding: 8px 20px;
            cursor: pointer;
            margin: 7px 0;
            background: none;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
        }

        .btn:hover {
            color: black;
            background-color: rgb(145, 145, 146);
            border: 1px solid black;
        }

        .btn-sm {
            cursor: pointer;
            margin-right: 31px;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 6px;
            padding-bottom: 6px
        }

        .buttons {
            margin-top: 19px;
        }

        .box-main {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height: 80%;
            margin: auto;
        }

        .firstsection {
            height: 100vh;
        }

        .firsthalf {
            width: 38%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .text-big {
            font-size: 22px;
        }

        .text-small {
            font-size: 15px;
        }

        .secondhalf {
            width: 31%;
        }

        .secondhalf img {
            width: 56%;
            display: block;
            margin: auto;
        }

        /*About Divine fitness*/
        .section {
            height: 100%;
            display: grid;
            background-color: rgb(194, 190, 190);
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Ubuntu', sans-serif;
            margin: auto;
            padding: 40px 0;
        }

        .c {
            display: flex;
            padding: 0 125px;
        }

        .section-Left {
            flex-direction: row-reverse;
        }

        .para {
            padding: 0 192px;
        }

        .para2 {
            padding: 0 0 0 85px;
        }

        .sectiontag {
            padding: 8px 0;
        }

        .sectionSubtag {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .section-Left {
            flex-direction: row-reverse;
        }

        .thumbnail {
            display: flex;
            align-items: center;
        }

        .thumbnail img {
            width: 200px;
            height: 180px;
        }

        /*Footer of divine fitness*/
        footer {
            background: #444;
            box-sizing: border-box;
            width: 100%;
            font: bold 16px sans-serif;
            text-align: left;
            padding: 17px 60px 3px;
            overflow: hidden;
        }

        /* Footer left */
        .contact-left {
            float: left;
        }

        .contact-left h3 {
            color: #ffffff;
            font-family: 'math';
            font-size: 47px;
            margin: 0 0 10px;
        }

        .contact-left h3 span {
            color: #5383d3;

        }

        /* Footer links */
        .footer-links {
            color: #ffffff;
            margin: 0 0 10px;
            padding: 0;
        }

        .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

        .gym-detail {
            color: #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        .gym-detail-copy {
            color: red;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer social icons */

        .footer-icons {
            margin-top: 40px;
        }

        .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        /* Footer right */

        .contact-form-right {
            float: right;
            display: flex;
        }

        .contact-form-right p {
            display: inline-block;
            vertical-align: top;
            margin: 3px 42px 0 0;
            color: #ffffff;
        }

        /* The contact form */
        .form {
            display: inline-block;
        }

        .contact-form-group {
            width: 89%;
            margin-bottom: 10px;
        }

        #name {
            color: white;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background-color: #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            font-size: 12px;
            margin-bottom: 3px;
            margin-right: 48px;
            border: 1px solid black;
        }

        #phone {
            color: white;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background-color: #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            font-size: 12px;
            margin-bottom: 3px;
            margin-right: 48px;
            border: 1px solid black;
        }

        #email {
            color: white;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background-color: #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            font-size: 12px;
            margin-bottom: 3px;
            margin-right: 48px;
            border: 1px solid black;
        }

        textarea {
            color: white;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background-color: #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            font-size: 12px;
            margin-bottom: 3px;
            margin-right: 48px;
            border: 1px solid black;
            height: 100px;
        }

        .footer ::-webkit-input-placeholder {
            color: #5c666b;
        }

        .footer ::-moz-placeholder {
            color: #5c666b;
            opacity: 1;
        }

        .footer :-ms-input-placeholder {
            color: #5c666b;
        }

        .btn-sm2 {
            border-color: black;
            color: rgb(6, 5, 5);
            background-color: #754d4d;
        }

        .btn-sm2:hover {
            background-color: rgb(187, 190, 190);
        }

        .burger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            display: none;
            top: 15px;
        }

        .line {
            width: 33px;
            background-color: white;
            height: 3px;
            margin: 5px 3px;
        }

        /* If you don't want the footer to be responsive, remove these media queries */
        @media only screen and (max-width:1200px) {
            .navlist {
                flex-direction: column;
            }

            .navbar {
                flex-direction: column;
                height: 470px;
                transition: all 0.7s ease-out;
            }

            .rightnav {
                text-align: center;
            }

            #search {
                width: 100%;
            }

            .burger {
                display: block;
            }

            .h-nav {
                height: 72px;
            }

            .v-class {
                opacity: 0;
            }
        }

        @media only screen and (max-width: 1000px) {
            .para {
                padding: 0 77px;
            }

            .thumbnail img {
                width: 135px;
                height: 119px;
            }

            footer {
                display: grid;
                justify-content: center;
            }
        }

        @media only screen and (max-width: 850px) {
            .section {
                padding: 11px 0;
            }

            .para2 {
                padding: 0 0 0 15px;
            }

            .c {
                padding: 0 19px;
            }

            .para {
                padding: 0 24px;
            }
        }

        @media only screen and (max-width: 595px) {
            .box-main {
                padding-top: 54px;
                flex-direction: column-reverse;
            }

            .firsthalf {
                width: 62%;
                padding-top: 23px;
            }
        }

        @media only screen and (max-width: 410px) {
            .thumbnail img {
                width: 114px;
                height: 87px;
            }

            .firsthalf {
                width: 86%;
            }

            .secondhalf {
                width: 56%;
            }
        }

        @media only screen and (max-width: 307px) {
            .firsthalf {
                padding-top: 0%;
            }

            .firstsection {
                width: 300px;
            }

            .section {
                width: 300px;
            }

            .navbar {
                width: 300px;
            }

            footer {
                width: 300px;
            }
        }